<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>merchant_id</key>
	<string>&lt;merchant_id&gt;</string>
	<key>employee_id</key>
	<string>&lt;employee_id&gt;</string>
	<key>device_id</key>
	<string>&lt;device_id&gt;</string>
</dict>
</plist>
